<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipt Table</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="/tasks/mine/">My tasks</a></li>
        <li><a href="/projects/list_projects/">My projects</a></li>
        <li><a href="/account/logout/">Logout</a></li>
        {% elif not user.is_authenticated %}
        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/accounts/signup/">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>My Tasks</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
          </tr>
        </thead>
        <tbody>
          {% if tasks|length == 0 %}
          <p>You have no tasks</p>
          {% else %}
          {% for task in tasks %}
          <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.start_date|date:"M. d, Y, h:m a" }}</td>
            <td>{{ task.due_date|date:"M. d, Y, h:m a" }}</td>
            <td>{{ task.is_completed|yesno:"yeah,no,maybe" }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>
