<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="/tasks/mine/">My tasks</a></li>
        <li><a href="/projects/list_projects/">My projects</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
        {% elif not user.is_authenticated %}
        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/accounts/signup/">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>Signup</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
          Signup
        </button>
      </form>
    </div>
  </main>
</body>

</html>
