<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account List</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="/tasks/mine/">My tasks</a></li>
        <li><a href="/projects/list_projects/">My projects</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
        {% elif not user.is_authenticated %}
        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/accounts/signup/">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>My Projects</h1>
      <p><a href="/projects/create/">Create a new project</a></p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of tasks</th>
          </tr>
        </thead>
        <tbody>
          {% if projects.all|length == 0 %}
          <p>You are not assigned to any projects</p>
          {% else %}
          {% for project in projects %}
          <tr>
            <td><a href="/projects/{{ project.id }}/">{{ project.name }}</a></td>
            <td>{{ tasks.all|length }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>
